<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

<div class="container">
  <div class="row mt-2 mb-3">
    <div class="col-md-2 col-sm-2" (click)="goToHomePage()">
      <h3>Home page</h3>
    </div>
    <div class="col-md-8 col-sm-8">
      <h2>
        Welcome to {{ title }}!
      </h2>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    Some footer info
  </div>
</footer>
